In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [109]:
url = "http://www.basketball-reference.com/draft/NBA_2016.html"
html = urlopen(url)

In [110]:
soup = BeautifulSoup(html, "html5lib")
type(soup)

bs4.BeautifulSoup

In [115]:
# soup.findAll('tr', limit=2)

soup.findAll('tr', limit=4)[3].findAll('th') # Skip first 2--groups 3 columns for mobile. Third 'tr' is for browser.
column_headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')[1:]]
column_headers

['Pk',
 'Tm',
 'Player',
 'College',
 'Yrs',
 'G',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'FG%',
 '3P%',
 'FT%',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'WS',
 'WS/48',
 'BPM',
 'VORP']

In [116]:
data_rows = soup.findAll('tr')[2:]  # skip the first 2 header rows

type(data_rows)
# data_rows

list

In [117]:
player_data = [[td.getText() for td in data_rows[i].findAll('td')[:]]
                for i in range(len(data_rows))]
# player_data

In [119]:
df = pd.DataFrame(player_data, columns=column_headers)
df.head(3)

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,PHI,Ben Simmons,Louisiana State University,,,,,,,...,,,,,,,,,,
1,2,LAL,Brandon Ingram,Duke University,1,79,2279,740,316,166,...,.294,.621,28.8,9.4,4.0,2.1,-0.3,-.007,-3.8,-1.1
2,3,BOS,Jaylen Brown,University of California,1,78,1341,515,220,64,...,.341,.685,17.2,6.6,2.8,0.8,1.5,.053,-4.0,-0.7